@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	color: #555;
}

.tableclass{
	width:  2000px;
	margin: 10px auto;
}

.tableclass th{
	padding: 10px 0;
	background-color: #c1004a;
	/* background-color: #fff; */
	border: thin solid #d4d4d4;
	color: white;
}

.tableclass td{
	padding: 10px;
	border: thin solid #d4d4d4;
	width: 0%;
	text-align: center;
	background-color: #deafc1;
	color: black;
}

.tableclass img{
	width:  70%;
}

.tableclass td.total-price{
	/* font-weight: bold; */
	font-size: 22px;
}
.tableclass a{
	text-decoration: none;
    color: white;
    background-color: #922738;
    padding: 4px 15px;
    border-radius: 10px;
}
.tableclass a:active{
	background-color: #ccf4d6;
	color:  green;
}

.tableclass select{
	padding: 10px;
	width:  200px;
	font-size: 16px;
	border: thin solid #d4d4d4;
	background-color: transparent;
}
.tableclass select:focus{
	outline: none;
}

.tableclass img{
	width:  60%;
}